0
Flask==1.1.2
opencensus==0.7.7
opencensus-context==0.1.1
opencensus-ext-flask==0.7.3
opencensus-ext-zipkin==0.2.2
opentelemetry-api==0.8b0
opentelemetry-auto-instrumentation==0.8b0
opentelemetry-ext-flask==0.8b0
opentelemetry-ext-jaeger==0.8b0
opentelemetry-ext-requests==0.8b0
opentelemetry-ext-wsgi==0.8b0
opentelemetry-sdk==0.8b0
